.top-menu {
    display: flex;
    padding-left: 10px;
    background-color: #ab47bc;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.top-menu>.icon {
    opacity: 0;
    width: 0;
    transition: opacity .4s ease-in-out;
    transition: width .2s ease-in-out;
}

.top-menu>.icon:hover {
    color: #d2d2d2
}

.top-menu>.title {
    color: #fff;
    font-size: 21px;
    padding-left: 19px;
}

.conteudo {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}

.conteudo>.menu {
    width: 300px;
    overflow-y: auto;
    transition: width .5s ease-in-out;
    border-right: 1px solid #d8d8d8;
    box-shadow: -1px 2px 5px #d8d8d8;
    background-color: white;
}

.conteudo>.menu-aguarde {
    width: 0;
    background-color: #00000096;
    position: fixed;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s ease-in-out step-end;
}

.conteudo>.menu.open {
    width: 300px;
}

.conteudo>.menu-aguarde.open {
    width: 100%;
    opacity: 1;
}

.conteudo>.corpo {
    width: 100%;
    padding: 14px;
    overflow: auto;
}

.material-icons{
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .conteudo>.menu {
        width: 0px;
        position: fixed;
        height: 100%;
        z-index: 10000;
    }
    .top-menu>.icon {
        opacity: 1;
        width: 24px;
    }
}

@media only screen and (min-width: 900px) {}