.json{
    background-color: #353535;
    padding: 15px !important;
    margin-top: 10px;
    letter-spacing: .5px;
}
/*.json-object,*/
.json-object div:not(.json-footer){
    border-left: 1px solid #545151;
}

.json-margin-left{
    margin-left:5px;
}

span.json-sinal {
    color: #cecece;
}

.json-margin {
    margin-left: 25px;
}

span.json-key {
    color: #63cdff;
    margin-right: 2px;
}

span.json-value-string {
    color: #c3997b;
    margin-left: 5px;
}

span.json-value-date {
    color: #c3997b;
    margin-left: 5px;
}

span.json-value-number {
    color: #bce0b4;
    margin-left: 5px;
}

span.json-value-class{
    color: #08ffdd;
    margin-left: 5px;
}

span.json-value-null{
    color: #088dff;
    margin-left: 5px;
}

span.json-value-boolean{
    color: #088dff;
    margin-left: 5px;
}

span.json-value-coment{
    color: #00a700;
    margin-left: 10px;
}

span>input.txt-edit-json {
    width: 200px !important;
    padding-left: 5px !important;
    color: white !important;
}

.json-object.primary>span,
.json-object.primary>div {
    margin: 0;
}