ul.treeview {
    padding: 10px;
    font-size: 16px;
    /* color: #7647c1; */
    font-weight: 400;
    cursor: default;
    color: #4e4e4e;
}

ul.treeview div[data-item] {
    height: 24px;
    display: flex;
    justify-content: space-between;
}

ul.treeview div[data-item]:hover {
    color: #696969;
    /* font-size: 15px; */
    transform: scale(0.9);
}


ul.treeview div[data-item]:active {
    color: rgba(255, 255, 255, 0.493);
}

ul.treeview div[data-item]>.method {
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid #d6d3d3c2
}

ul.treeview div[data-item]>.name {
    width: 100%;
    border-bottom: 1px solid #d6d3d3c2
}

ul.treeview div[data-item]>.method.post {
    color: green;
}

ul.treeview div[data-item]>.method.put {
    color: yellow;
}

ul.treeview div[data-item]>.method.get {
    color: blue;
}

ul.treeview div[data-item]>.method.delete {
    color: red;
}


ul.treeview>.treeview-item {
    margin-bottom: 12px;
}

ul.treeview>.treeview-item>div {
    border-bottom: 1px solid #ccc7c7;
    padding-left: 5px;
}

ul.treeview>.treeview-item>.treeview-opcoes {
    padding-top: 4px;
}

ul.treeview>.treeview-item>.treeview-opcoes>li>div {
    padding-left: 15px;
}

ul.treeview>.treeview-item>.treeview-opcoes>li>div {}