<div class="section">
    <h5>Boletos</h5>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <span style="text-transform: uppercase;font-weight: bold;">post</span>
                <span style="padding-left: 20px;color: #848484;">Gerar</span>
            </div>
            <div class="collapsible-body" style="display:block">
                text
                text
                grid
                collection
                text-json
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <strong style="text-transform: uppercase">get</strong>
                <span style="padding-left: 20px;color: #848484;">Imprimir</span>
            </div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
    </ul>
</div>