<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DOCS</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/estrutura-site.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/controllers.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/json.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="top-menu">
        <div class="icon">
            <i class="material-icons">dehaze</i>
        </div>
        <div class="title">Docs @model.title</div>
    </nav>
    <div class="conteudo">
        <div class="menu"></div>
        <div class="menu-aguarde"></div>
        <div class="corpo">
            <div class="row">
                @html.raw(model.t.conteudo)
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/site.js"></script>
    <script>
        $(document).on('click', '[data-edit="off"]', function () {
            $(this).attr('data-edit', 'on');
            const tipo = $(this).attr('data-type') || 'string';
            const value = $(this).text().replace(/"/g, '');

            $(this).html(`<input data-tipo="${tipo}" class="txt-edit-json" type="text" value="${value}">`)
            $('.txt-edit-json').focus().select();
        });
        $(document).on('focusout', '.txt-edit-json', function () {
            let value = $(this).val().trim();
            let tipo = $(this).attr('data-tipo').toLowerCase();
            let cls = 'json-value-' + (!value ? 'null' : tipo);
            if (!value) { value = 'null'; tipo == 'number'; }
            $(this).closest('span')
                .removeClass()
                .addClass(cls)
                .attr('data-edit', 'off')
                .html(`${tipo == 'number' || !asp ? value : `"${value}"`}`);
        });
    </script>
</body>

</html>