<div class="row">
    <div class="col s12 card-label">Parâmetros</div>
    <div class="col s12 card-text">
        <table class="highlight" style="background-color: white;">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="center">Tipo</th>
                    <th>Opções</th>
                    <th class="center">Default</th>
                    <th class="center">Obrigatório</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>banco</td>
                    <td class="center">String</td>
                    <td>brasil, sicredi, sicoob</td>
                    <td class="center"></td>
                    <td class="center">Sim</td>
                </tr>
                <tr>
                    <td>t</td>
                    <td class="center">String</td>
                    <td>print, download</td>
                    <td class="center">print</td>
                    <td class="center">Não</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>