<div class="col s12 card-label">@model.t.label</div>
<div class="col s12 card-text">
    <table class="highlight" style="background-color: white;">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="center">Tipo</th>
                <th>Opções</th>
                <th class="center">Default</th>
                <th class="center">Opcional</th>
            </tr>
        </thead>
        <tbody>
            @model.t.value.forEach(x=>{
            <tr>
                <td>@x.nome</td>
                <td class="center">@x.tipo</td>
                <td>@x.opcoes</td>
                <td class="center">@x.default</td>
                <td class="center">@x.opcional</td>
            </tr>
            })
        </tbody>
    </table>
</div>