<div class="row">
    <div class="col s12 card-label">Retorno OK</div>
    <div class="col s12 json">
    <pre>
        {
            url: { type: String, descricao: 'Url gerada para baixar ou imprimir o boleto' },
            idBoleto: { type: String, descricao: 'Id gerado no payment para relacionamento com api cliente' },
            parcelas: {
                type: Array,
                descricao: 'Dados da parcela',
                content: {
                    numero: { type: Number, descricao: 'Número da parcela' },
                    nossoNumero: { type: String, descricao: 'Nosso número ja gerado com o dígito' },
                    valor: { type: Number, descricao: 'Valor da parcela' },
                    dataVencimento: { type: Date, descricao: 'Data vencimento da parcela' }
                }
            }
        }
    </pre>
    </div>
</div>